
@model entConsole.Models.DbColTypeConfigViewModel
<form asp-controller="DbColTypeConfig" asp-action="Index" method="get">
    @*<p>
            <select asp-for="MovieGenre" asp-items="Model.Genres">
                <option value="">All</option>
            </select>

            Title: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>*@
</form>

<div class="col-lg-11">
    <div class="card">

        @*<div class="card-header d-flex align-items-center">
                <h3 class="h4">数据列表</h3>
            </div>*@
        <div class="card-body">
            <div class="table-responsive">

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading"></div>



                    <table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                DBType
                            </th>
                            <th>
                                ColId
                            </th>
                            <th>
                                默认值
                            </th>
                            <th>
                                ColType
                            </th>
                            <th>
                                ColLength
                            </th>
                            <th>
                                Ver
                            </th>
                            <th>
                                是否可用
                            </th>
                            <th>
                                录入日期
                            </th>
                        </tr>

                        <tbody>
                            @{
                                try
                                {
                                    foreach (var item in Model.dataInfo)
                                    {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DBType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ColId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DefaultValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ColId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ColLength)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ver)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsEnable)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EntryDate)
                                </td>
                            </tr>
                                    }
                                }
                                catch (Exception e)
                                {
                                    @Html.ActionLink("点击查看详细错误信息", "Index", "Error", new { Msg = e.ToString() })
                                }
                            }
                        </tbody>
                    </table>



                </div>

                @*分页标签*@
            </div>
        </div>
    </div>
</div>

<style>
    .alt td {
        background: black !important;
    }
</style>
<script type="text/javascript" src="~/TableJs/scripts/jquery/jquery-1.7.1.js"></script>
<link href="~/TableJs/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
<link href="~/TableJs/style/authority/common_style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="~/TableJs/scripts/authority/commonAll.js"></script>
<script type="text/javascript" src="~/TableJs/scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript" src="~/TableJs/scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="~/TableJs/style/authority/jquery.fancybox-1.3.4.css" media="screen">
<script type="text/javascript" src="~/TableJs/scripts/artDialog/artDialog.js?skin=default"></script>

