
@model entConsole.Models.DownLoadAccountViewModel
<form asp-controller="KeepAlive" asp-action="Index" method="get">
    @*<p>
            <select asp-for="MovieGenre" asp-items="Model.Genres">
                <option value="">All</option>
            </select>

            Title: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>*@
</form>

<div class="col-lg-11">
    <div class="card">

        @*<div class="card-header d-flex align-items-center">
                <h3 class="h4">数据列表</h3>
            </div>*@
        <div class="card-body">
            <div class="table-responsive">

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading"></div>



                    <table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                        <tr>
                            <th>
                                下载账号
                            </th>
                            <th>
                                密码
                            </th>
                            <th>
                                密码是否加密
                            </th>
                            <th>
                                数据库链接标识
                            </th>
                            <th>
                                数据库类型
                            </th>
                            <th>
                                链接字符串
                            </th>
                            <th>
                                链接字符串是否加密
                            </th>
                            <th>
                                数据库字符集编码
                            </th>
                        </tr>

                        <tbody>
                            @{
                                try
                                {
                                    foreach (var item in Model.dataInfo)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.userName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Pwd)
                                            </td>
                                            <td>
                                                @Html.CheckBox("slide", item.pwdIsEncrypt)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DbType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ConnStr)
                                            </td>
                                            <td>
                                                @Html.CheckBox("slide", item.connStrIsEncrypt)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Encoding)
                                            </td>
                                        </tr>
                                    }
                                }
                                catch (Exception e)
                                {
                                    @Html.ActionLink("点击查看详细错误信息", "Index", "Error", new { Msg = e.ToString() })
                                }
                            }
                        </tbody>
                    </table>



                </div>

                @*分页标签*@
            </div>
        </div>
    </div>
</div>

<style>
    .alt td {
        background: black !important;
    }
</style>
<script type="text/javascript" src="~/TableJs/scripts/jquery/jquery-1.7.1.js"></script>
<link href="~/TableJs/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
<link href="~/TableJs/style/authority/common_style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="~/TableJs/scripts/authority/commonAll.js"></script>
<script type="text/javascript" src="~/TableJs/scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript" src="~/TableJs/scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="~/TableJs/style/authority/jquery.fancybox-1.3.4.css" media="screen">
<script type="text/javascript" src="~/TableJs/scripts/artDialog/artDialog.js?skin=default"></script>

